<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>SAE-WEB</display-name>
  <context-param>
    <param-name>javax.faces.CONFIG_FILES</param-name>
    <param-value>/WEB-INF/faces-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.autoCompleteOffOnViewState</param-name>
    <param-value>false</param-value>
</context-param>
<context-param>
    <param-name>com.sun.faces.enableViewStateIdRendering</param-name>
    <param-value>false</param-value>
</context-param>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>administracion/crear.xhtml</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>500</error-code>
    <location>/error/errorRedirect.xhtml</location>
  </error-page>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Paginas no protegidas</web-resource-name>
      <url-pattern>/administracion/inicio.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>RA_AE_ANONIMO</role-name>
    </auth-constraint>
  </security-constraint>
  
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Paginas protegidas</web-resource-name>
      <url-pattern>/administracion/recurso/*</url-pattern>
      <url-pattern>/administracion/disponibilidad/*</url-pattern>
      <url-pattern>/administracion/datoASolicitar/*</url-pattern>
      <url-pattern>/administracion/consulta/*</url-pattern>
      <url-pattern>/administracion/reserva/*</url-pattern>
      <url-pattern>/administracion/validaciones/*</url-pattern>
      <url-pattern>/administracion/acciones/*</url-pattern>
      <url-pattern>/administracion/datoAutocompletar/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>RA_AE_ADMINISTRADOR</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Paginas protegidas</web-resource-name>
      <url-pattern>/administracion/recurso/consultar.xhtml</url-pattern>
      <url-pattern>/administracion/recurso/consultarDatos.xhtml</url-pattern>
      <url-pattern>/administracion/recurso/modificar.xhtml</url-pattern>
      <url-pattern>/administracion/recurso/modificarConsultar.xhtml</url-pattern>
      <url-pattern>/administracion/recurso/modificarTextos.xhtml</url-pattern>
      <url-pattern>/administracion/disponibilidad/*</url-pattern>
      <url-pattern>/administracion/datoASolicitar/consultar.xhtml</url-pattern>
      <url-pattern>/administracion/datoASolicitar/consultarDatos.xhtml</url-pattern>
      <url-pattern>/administracion/datoASolicitar/modificar.xhtml</url-pattern>
      <url-pattern>/administracion/datoASolicitar/modificarConsultar.xhtml</url-pattern>
      <url-pattern>/administracion/consulta/*</url-pattern>
      <url-pattern>/administracion/reserva/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>RA_AE_PLANIFICADOR</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Paginas protegidas</web-resource-name>
      <url-pattern>/administracion/disponibilidad/consultar.xhtml</url-pattern>
      <url-pattern>/administracion/disponibilidad/consultarPorDia.xhtml</url-pattern>
      <url-pattern>/administracion/reserva/*</url-pattern>
      <url-pattern>/administracion/llamador/*</url-pattern>
      <url-pattern>/administracion/consulta/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>RA_AE_FATENCION</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Paginas protegidas</web-resource-name>
      <url-pattern>/administracion/reserva/*</url-pattern>
      <url-pattern>/administracion/consulta/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>RA_AE_FCALL_CENTER</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Paginas protegidas</web-resource-name>
      <url-pattern>/agendarReserva/*</url-pattern>
      <url-pattern>/administracion/mostrarAgendaRecurso.xhtml</url-pattern>
      <url-pattern>/administracion/seleccionAgendaRecurso.xhtml</url-pattern>
      <url-pattern>/administracion/index.xhtml</url-pattern>
      <url-pattern>/administracion/menuTitulo.xhtml</url-pattern>
      <!-- url-pattern>/administracion/inicio.xhtml</url-pattern -->
      <url-pattern>/administracion/reserva/*</url-pattern>
      <url-pattern>/administracion/llamador/*</url-pattern>
      <url-pattern>/administracion/consulta/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>RA_AE_ADMINISTRADOR</role-name>
      <role-name>RA_AE_PLANIFICADOR</role-name>
      <role-name>RA_AE_FCALL_CENTER</role-name>
      <role-name>RA_AE_FATENCION</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Pagina Login Seguro</web-resource-name>
      <url-pattern>/login/loginSeguro.xhtml</url-pattern>
      <url-pattern>/login/loginSSO.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>RA_AE_ADMINISTRADOR</role-name>
      <role-name>RA_AE_PLANIFICADOR</role-name>
      <role-name>RA_AE_FCALL_CENTER</role-name>
      <role-name>RA_AE_FATENCION</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login/login.xhtml</form-login-page>
      <form-error-page>/login/error.xhtml</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>RA_AE_ADMINISTRADOR</role-name>
  </security-role>
  <security-role>
    <role-name>RA_AE_PLANIFICADOR</role-name>
  </security-role>
  <security-role>
    <role-name>RA_AE_FATENCION</role-name>
  </security-role>
  <security-role>
    <role-name>RA_AE_FCALL_CENTER</role-name>
  </security-role>
</web-app>