.rich-panel 
{
	border-color:#C6C7C8;
}
.rich-panel-header {
  	background-image : url();
  	background-color : #C6C7C8;
}
.rich-table-header 
{
  	background-image : url();
  	background-color : #C6C7C8;
}


/* D4CFC7 */

/*
.rich-calendar-cell {
	font-size: 8pt;	
}
.rich-calendar-footer {
	text-align: center;
	vertical-align: top;	
}
*/
/*.rich-calendar-week {
	width: 0px;
}
*/
/*

.rich-table 
{
	border:10pt;
    background-color: #E0E0E0;
	
}

.rich-table-header 
{
	background-color: #808080;
	font-family:Arial, sans-serif;
    color:#FFFFFF;
	font-size:10pt;
    font-weight:normal;
    text-align:center;
    vertical-align:top;
    border:1pt;

}
.rich-table-cell  
{
	text-align:left;
    vertical-align:top;
    font-family:Arial, sans-serif;
    background-color: #FFFFFF;
    font-size:8pt;
    font-weight:normal;
    color:#000000;
  
}

.rich-table-row  
{
	border:10pt;
	border-color:#000000;

}

.miEstiloFila  
{
	border:10pt;
	border-color:#808080;
   
}


.rich-panel-embebido 
{
	border:10pt;
	background-color: #FFFFFF;
	border-color:#000000;
	

}


.rich-panel-header
{
	background-color: #808080;
	border-color:#808080;
	font-family:Arial, sans-serif;
	font-weight:bold;
	font-size:8pt;
   	color: #000000;
}

.rich-panel-body
{
	border-color:#C0C0C0;
	font:8pt;
	color: #000000;
}


.rich-pmenu-item-selected
{
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-style: normal;
}

*/




