@CHARSET "ISO-8859-1";

.diaConCupo { background-color: #428922; color: white; }
.diaSinCupo { background-color: #D6D1C9; color: white; }
.rich-calendar-hover { background-color: #E6E6FA; color: black;}
.rich-calendar-select { background-color: #F68B1F; color: white;}

/* esta clase queda vacia porque de esta forma toma el estilo la celda
correspondiente al dia de hoy current date y no se sobreescribe el estilo con y sin cupo
*/
.rich-calendar-today { }
.e0padding { padding: 0px; spacing: 0px;}

.col { vertical-align: top; border: none; padding-left : 10px;}

.colDispHora {
	text-align: center; 
	padding-left: 6px; 
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.colDispEstado {
	text-align: left;
	padding-left: 6px; 
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.colDisp {
	text-align: center; 
	padding: 0px;
}
.rowDisp {
	text-align: center; 
	padding: 1px;
}
.colRecursos {
	text-align: left;
	padding-top: 1px;
	padding-bottom: 1px; 
}
.rowRecursos {
	text-align: left; 
	padding-left: 4px;
	padding-right: 4px;
}

.formularioCabezal {
	border: none;
	xbackground-color: black; /* se deshabilito la propiedad porque fijaba los cabezales en negro */
}
.formularioTitulo {
	text-align: left;
	padding: 2px;
}
.formulario {
	text-align: center;
	padding: 2px;
}
.formularioEtiqueta {
	text-align: right;
	padding-right: 2px;
}
.formularioCampo {
	text-align: left;
	padding-left: 2px;
}


.izquierda { text-align: left;}
.derecha { text-align: right;}
.centrado { text-align: center; }
.arribaIzquierda { vertical-align: top; text-align: left;}

.arriba { vertical-align: top; }
.abajo { vertical-align: bottom; }

/*	Estilo utilizado por los componentes dinamicos del formulario de ingreso de datos de la reserva */ 
.dinColumnaEtiqueta { 
	text-align: right;
	font-family:Arial, sans-serif;
   	font-size:8pt;
   	font-weight:normal;
}
.dinColumnaEtiquetaArriba { 
	text-align: right;
	font-family:Arial, sans-serif;
   	font-size:8pt;
   	font-weight:normal;
   	vertical-align: top;
}
.dinColumnaCampo { 
	text-align: left;
	font-family:Arial, sans-serif;
   	font-size:8pt;
   	font-weight:normal;
}
.dinColumna {
	text-align: left;
	padding-bottom: 5px;
} 
.dinFila {
	padding-bottom: 5px;
}
.dinCampoSinError {
	background-color: white;	
}
.dinCampoConError {
	border-style:solid;
	border-width: 2px;
	border-color: CB0A1D;
}
.dinDisabled {
 background-color: #ffffff;
 border: #ffffff 1px solid;
 color: #000000;
 cursor: default; 
}

/*	background-color: #ff8080;*/	

/* Estilos del PASO de la reserva */
.paso {
	font-family:Arial, Verdana, sans-serif;
	font-size:16px; 
	color:#555555;
	font-weight: bold; 
	padding-left: 10px;
}
/*	color:#000088; */

#contenedorPaso {
	width: 750px;
}
.descripcionDelPaso {
	font-family:Arial, Verdana, sans-serif;
	font-size:12px; 
	color:#333333; 
	text-decoration:none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.contenidoDelPaso {
	font-family:Arial, Verdana, sans-serif;
	font-size:12px; 
	color:#333333; 
	text-decoration:none;
	padding-left: 10px;
	padding-right: 10px;
}

.recurso {
	font-family:Arial, Verdana, sans-serif;
	font-size:16px; 
	color:#555555;
	font-weight: bold;
	background-color: white;
	padding: 0px;
	width: 700px;
}

.recursoEtiqueta {
	font-size:12px; 
	font-weight: bold;
	padding-right: 5px;

}

.textoModal {
	font-family : verdana;
	font-size: 11px;
	text-align: center;	
	padding-top:3px;
	padding-bottom:3px;
	}

.miPanelBar {
	padding: 0;
}
.miPanelBar a {
	color : #000000;
	text-decoration : none;
}

.miPanelBar table .inactivo .ico{
	border : 1px solid #FFFFFF;
}
.miPanelBar table .activo .ico{
	border : 1px solid #ACBECE;
}
.miPanelBar table .inactivo .text{
	font-family : verdana;
	font-size : 11px;
	padding-left : 10px
}
.miPanelBar table .activo .text{
	color : #FFFFFF;
	font-family : verdana;
	font-size : 11px;
	background-color : #ACBECE;
	padding-left : 10px
}
.text {
	cursor : pointer;
	padding:0px 0px 0px 10px;
	height: 20px;
}
.ico{
	cursor : pointer;
	padding-top:1px;
	padding-right:3px;
	padding-bottom:1px;
	padding-left:3px; 
}

/* #C0C0C0;
.rich-panel-embebido 
{
	background-color: white;
	border-color:#d4cfc7;
}
*/

/* Borde de todas las pantallas del sistema */
.pantallaFieldset {
	margin : 0px;
	margin-left: 10px;
	border : 1px solid #ACBECE;
	text-align: center;
}
.pantallaLegend {
	font-weight : bold;
	font-size: 12px; 
	font-family: Verdana;
	color: black;
	margin : 0px 10px 0px 18px;
}
.pantallaSize{
	width: 610px;
	height: 235px;
	padding: 0px;
}
/* si le pongo height y width para fijar el tamaño de la pantalla
   en firefox se rompe mostrando los componentes de la pantalla por encima del marco
	width: 610px;	
	height: 225px;
*/
.pantallaContenido {
	padding-top: 10px;
	text-align: center;	
	vertical-align: top;	
}
.pantallaMensaje {
	padding: 3px;
	text-align: center;	
	vertical-align: bottom;
}
.borde {
	border: #C0C0C0 1px solid; 
}
/* border: #bed6f8 1px solid; celestito*/

.borde-arriba { 
	border-top: #C0C0C0 1px solid; 
}
.borde-abajo { 
	border-bottom: #C0C0C0 1px solid; 
}
.borde-derecha { 
	border-right: #C0C0C0 1px solid; 
}
.borde-izquierda { 
	border-left: #C0C0C0 1px solid; 
}
.caja {
	vertical-align: middle; 
	text-align: center; 
	padding: 3px; 
	width: 30px; 
	height: 20px; 
	font-size:15px;
    font-weight: bold;
	font-family: sans-serif; 
    color: #C0C0C0;
    background-color: white;
}
.cajaSeleccionada {
	color: white; 
	background-color: #C0C0C0; 
}

.immTabPanelContent {
	border-style: none;	
}

/* Estilos del PASO 1 */

.calendarioPie {
	text-align: center; 
	vertical-align: middle; 
	font-weight: bold;
	height: 20px; 
}

.saeCalendar {
vertical-align: middle;background-color: black;
}

